<div class="clr-row justify-content-center clr-col-12">
  <form class="clr-form clr-col-6" name="form" #form="ngForm">
    <div class="clr-col-12">
      <div class="clr-col-8">
        <div class="clr-form-control">
          <label for="descricao" class="clr-control-label col-10">Nome</label>
          <div class="clr-control-container col-12">
            <div class="clr-input-wrapper">
              <input type="text" autocomplete="off" name="descricao" id="nome" placeholder="nome" required class="clr-input col-12">
              <clr-icon class="clr-validate-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="clr-subtext text-danger">Nome obrigatório</span>
          </div>
        </div>
      </div>
      <div class="clr-col-8">
        <div class="clr-form-control">
          <label for="descricao" class="clr-control-label col-10">Descrição</label>
          <div class="clr-control-container col-12">
            <div class="clr-input-wrapper">
              <input type="text" autocomplete="off" name="descricao" id="descricao" placeholder="Descrição" required class="clr-input col-12">
              <clr-icon class="clr-validate-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="clr-subtext text-danger">Descricao obrigatória</span>
          </div>
        </div>
      </div>
      <div class="clr-col-8">
        <div class="clr-form-control">
          <label for="descricao" class="clr-control-label col-10">Descrição</label>
          <div class="clr-control-container col-12">
            <div class="clr-input-wrapper">
              <input type="text" autocomplete="off" name="descricao" id="descricao" placeholder="Descrição" required class="clr-input col-12">
              <clr-icon class="clr-validate-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="clr-subtext text-danger">Descricao obrigatória</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
