<div class="login-wrapper">
  <form class="login" ngForm="login" #login="ngForm" clrForm>
    <section class="title">
      <h3 class="welcome">Sistema Marmotal</h3>
      Dominus Dashboard
    </section>
    <div class="login-group clr-justify-content-center">
      <div class="clr-control-container mb-1" [ngClass]="{'clr-error' : email.invalid && email.dirty}">
        <div class="clr-input-wrapper" >
          <input type="text" name="email" class="clr-col-11 clr-input" id="email" autocomplete="off" [(ngModel)]="user.email" #email="ngModel" email required placeholder="Email"/>
          <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <clr-control-error *ngIf="email.invalid && email.dirty">Email inválido</clr-control-error>
      </div>
      <div class="clr-control-container mb-1" [ngClass]="{'clr-error' : password.invalid && password.dirty}">
        <div class="clr-input-wrapper" >
          <input type="password" name="password" class="clr-col-11 clr-input password" id="password" [(ngModel)]="user.password" #password="ngModel" required placeholder="Senha"/>
          <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <clr-control-error *ngIf="password.invalid && password.dirty">Senha deve ser preenchida</clr-control-error>
      </div>
      <div class="error" [ngClass]="{'active' : invalid }">
        Email ou senha incorreto.
      </div>
      <button type="submit" class="btn btn-primary" (click)="clickLogin()">Entrar</button>
    </div>
  </form>
</div>